body {
    display: block;
    text-align: center;
    color: #333;
    background: #FFF;
    margin: 80px auto;
    width: 100%;
}

table {
    width: 100%;
}

.friend-profile {
    text-align: left;
}

.friend-profile img {
    float: left;
    margin: 1em 2em 1em 1em;
}

.friend-profile-links li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.friends-table thead tr {
cursor: pointer;
}
