<div class="friend-profile">
<div class="friend-info full">
{{fill-murray width=300 height=300}}
<div>
<p>{{model.fullName}}</p>
<p>{{model.email}}</p>
<p>{{model.twitter}}</p>
<ul class="friend-profile-links">
<li>{{link-to 'Edit info' 'friends.edit' model}}</li>
<li>{{link-to 'Lend article' 'articles.new'}}</li>
<li><a href="#" {{action "delete" model}}>Delete</a></li>
</ul>
</div>
</div>
</div>
<div class="articles-container">
{{outlet}}
</div>