<table class="primary">
<thead>
<tr>
<th>Description</th>
<th>Notes</th>
<th>Borrowed since</th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
{{#each model as |article|}}
{{articles/article-row
article=article
save="save"
articleStates=possibleStates
}}
{{/each}}
</tbody>
</table>